<ul class="ajaxcart  ">
    <li>Your cart: 0 item(s) - $ 0</li>

    @*@Html.ActionLink("Checkout", "Index")*@
    <li>
        <a href="/Cart/Index">
            <i class="fas fa-shopping-cart fa-lg cartcart">  </i>
        </a>
    </li>

</ul>
